<div class="main movie-show">
  <div class="container">
    <div class="movie">

      <!-- Display the movie's info here -->
      <div class="info">
        <!-- movie image -->
        <%= image_tag(@movie.image, :alt => "alternative text") %>
        <h3 class="movie-title"> <%=@movie.title%></h3>
        <p class="movie-release-year"><%=@movie.release_year%></p>
        <p class="movie-plot"><%=@movie.plot%></p>
      </div>
    </div>

    <h2>Cast</h2>
    <!-- Display each actor's info here -->
    <% @actors.each do |f| %>
    <div class="actor">
        <%= image_tag(f.image, :alt => "alternative text") %>
        <h3 class="actor-name"><%=f.first_name%> <%=f.last_name%></h3>
        <p class="actor-bio"><%=f.bio%></p>
    </div>
        <% end %>
  </div>
</div>
